:root{
    --tittle-font:'Oswald', sans-serif;
    --text-font: 'Heebo', sans-serif;
    --dark-blue: #011140;
    --soft-blue: #204F8C;
    --blue-sky: #4E8BBF;
    --cream: #EEDFD8;
    --black:#0D0D0D;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    position: relative;
    overflow-x: hidden;
    /* overflow-y:scroll; */
}
body{
    background: linear-gradient(270deg, #011140 43.52%, #204F8C 133.47%);
}
h1{
    color: var(--cream);
    font-family: var(--tittle-font);
    font-weight: 600;
}
h2{
    color: var(--cream);
    font-family: var(--tittle-font);
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    margin-bottom: 35px;
}
h4{
    color: var(--cream);
    font-family: var(--tittle-font);
    font-weight: 600;
    font-size: 20px;
}
.earth-image{
    z-index: -1;
    position: absolute;
    height: 100%;
    right: -130%;

}

@media (min-width: 350px)  {
    .earth-image{
        right: -65%;
    }
}
@media (min-width: 650px)  {
    .earth-image{
        right: -35%;
    }
}
@media (min-width: 1128px)  {
    .earth-image{
        right: -30%;
    }
}