@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  color-scheme: dark;
}



html{
  background-size: 2em 2em;
  background-image: linear-gradient(90deg, #0f172a65 .08em, transparent .08em), linear-gradient(#0f172a65 .08em, transparent .08em);
}

::-webkit-scrollbar {
  display: none;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #0f172a;
  }
  100% {
    background-color: #334155;
  }
}